{:paths ["src"]
 :deps {}
 :tasks {check-dependencies {:doc "Run dependency checker"
                             :requires ([dependency-checker.core :as dc])
                             :task (apply dc/-main *command-line-args*)}}}
