{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        speclj/speclj {:mvn/version "3.10.0"}}
 :aliases {:check-dependencies {:main-opts ["-m" "dependency-checker.core"]}
           :spec {:main-opts ["-m" "speclj.main" "-c"]
                  :extra-paths ["spec"]}
           :cov {:extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
                 :main-opts ["-m" "speclj.cloverage" "--" "-p" "src" "-s" "spec" "--lcov"]}
           :mutate {:main-opts ["-m" "clj-mutate.core"]
                    :extra-deps {clj-mutate/clj-mutate
                                 {:git/url "https://github.com/unclebob/clj-mutate.git"
                                  :git/sha "223da6c1a814265d0a714417def997ce7878a8da"}
                                 org.clojure/tools.reader {:mvn/version "1.4.2"}
                                 speclj/speclj {:mvn/version "3.10.0"}}
                    :extra-paths ["spec"]}
           :crap {:extra-deps {io.github.unclebob/crap4clj {:git/sha "9f12da1b09bc1177f8f058108cf22a73bc9a97a0"}}
                  :main-opts ["-m" "crap4clj.core"]}}}
